version: "3.9"
services:
  frontend:
    build: ./frontend
    ports:
      - "4173:4173"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
